/* page layout styles for bankstatement-assign page*/

.hide_element
{
	display:	none;
}

.show_element
{
	display:	inline;
}

.dropdown
{
	width:		50%;
}

div[class*='toggle']
{
	text-align:	center;
}

.include
{
	text-align:	center;
}