<!-- INCOME STATEMENT REPORT TEMPLATE -->

<table class="table_content" width="100%" cellspacing="0">
	<tr class="header"><td colspan="2"><b>Income:</b></td></tr>
<!-- foreach table_income -->
	<tr><td width="80%">(name_chart)</td><td width="20%">(amount)</td></tr>
<!-- end -->
	<tr class="footer"><td width="80%"><b>Total:</b></td><td width="20%">(amount_total_income)</td></tr>
</table>

<br><br>

<table class="table_content" width="100%" cellspacing="0">
	<tr class="header"><td colspan="2"><b>Expenses:</b></td></tr>
<!-- foreach table_expense -->
	<tr><td width="80%">(name_chart)</td><td width="20%">(amount)</td></tr>
<!-- end -->
	<tr class="footer"><td width="80%"><b>Total:</b></td><td width="20%">(amount_total_expense)</td></tr>
</table>


<br><br>

<table width="100%" border="0" class="table_content" cellspacing="0">
	<tr class="header"><td colspan="2"><b>Final Total</b></td></tr>
	<tr class="footer"><td width="80%"><b>Income/Expenses</b></td><td width="20%"><b>(amount_total_final)</b></td></tr>
</table>


