
module amberdmsbs 1.1;

require {
	type rpm_script_tmp_t;
	type httpd_t;
	type var_t;
	type usr_t;
	type tmp_t;
	type tetex_data_t;
	class process execmem;
	class dir { write search read remove_name getattr add_name };
	class file { rename setattr read execute create write getattr };
}

#============= httpd_t ==============
allow httpd_t self:process execmem;
allow httpd_t rpm_script_tmp_t:file { read getattr };
allow httpd_t usr_t:file execute;
allow httpd_t var_t:file { read getattr };
allow httpd_t tmp_t:file { write read getattr };
allow httpd_t tetex_data_t:dir { write search read remove_name getattr add_name };
allow httpd_t tetex_data_t:file { rename write getattr setattr read create };

