
module amberdmsbs 1.0;

require {
	type rpm_script_tmp_t;
	type httpd_t;
	type tmp_t;
	type tetex_data_t;
	class dir { write search read remove_name getattr add_name };
	class file { rename setattr read create write getattr };
}

#============= httpd_t ==============
allow httpd_t rpm_script_tmp_t:file { read getattr };
allow httpd_t tetex_data_t:dir { write search read remove_name getattr add_name };
allow httpd_t tetex_data_t:file { rename write getattr setattr read create };
allow httpd_t tmp_t:file { write read getattr };
