/*
 * 	include/attributes/css/attributes.css
 * 
 * 	Provides style rules specific to attribute pages
 */

.expand_collapse
{
	text-align: 	right;
	vertical-align:	top;
}

.hidden_attribute_row
{
	display: 	none;
}

.add_group
{
	display: 	none;
}

.group_name
{
	font-size:	16px;
}

.change_group_name
{
	display: 	none;
}

.hidden_move
{
	display: 	none;
}

.delete_group_cell
{
	text-align: 	right;
	vertical-align: top;	
}
