<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	    <title>Quote (code_quote)</title>
		<link rel="stylesheet" href="(tmp_filename)html_data/style.css" type="text/css" charset="utf-8" />
		<link rel="stylesheet" href="./html_data/style.css" type="text/css" charset="utf-8" />
	</head>
	<body>
		<div class='page'>
			<div class='header'>
				<img src='(company_logo)' alt='(company_name)' title='(company_name)'>

			</div>

			<div class='content'>

				<div class='main-content'>
					<div class='from-address'>
						<strong>From:</strong>
						<p>
							<span class='address'>
								(company_name)<br /><br />
								<strong>Correspondence Address</strong><br />
								(company_address1_street)<br />
								(company_address1_city)<br />
								(company_address1_country)<br />
								(company_address1_zipcode)
							</span>
							<br />
							<br />
							<table>
							<tr><th>Email</th><td>(company_contact_email)</td></tr>
							<tr><th>Phone</th><td>(company_contact_phone)</td></tr>
<!-- if company_contact_fax -->
							<tr><th>Fax</th><td>(company_contact_fax)</td></tr>
<!-- end -->
							</table>
						</p>

					</div>
					<div class='to-address'>
						<strong>To:</strong>
						<p>
							(customer_contact)<br />
							(customer_name)<br />
							(customer_address1_street)<br />
							(customer_address1_city)<br />
							(customer_address1_state)<br />
							(customer_address1_country)<br />
							(customer_address1_zipcode)<br />
						</p>
						<br /><br />
					</div>

					<div class='current-activity invoice_details'>
						<div class="invoice-title">QUOTATION</div>
						<br /><br />
						<table>
							<tr> <th>Quote No</th> <td>(code_quote)</td> </tr>
							<tr> <th>Date Created</th> <td>(date_trans)</td> </tr>
							<tr> <th>Valid Until</th> <td>(date_validtill)</td> </tr>
						</table>
					</div>


					<div class='current-activity invoice_items'>

						<table>
							<tr> <th>Number</th> <th>Description</th> <th>Quantity</th> <th>Unit</th> <th>Price</th> <th>Amount</th> </tr>
<!-- foreach invoice_pages -->
<!-- foreach invoice_items -->
							<tr> <td>(info)</td> <td>(description)</td> <td>(quantity)</td> <td>(units)</td> <td>(price)</td> <td>(amount)</td> </tr>
<!-- end invoice_items -->
<!-- end invoice_pages -->


							<tr> <td colspan='2' class='top_border'></td> <td colspan='2' class='top_border'><strong>Subtotal</strong></td> <td class='top_border'></td> <td class='values top_border'>(amount)</td> </tr>
<!-- foreach taxes -->
							<tr> <td colspan='2'></td> <td colspan='2' class='top_border'>(name_tax)</td> <td class='top_border'></td> <td class='top_border'>(amount)</td> </tr>
<!-- end -->

<!-- foreach invoice_payments -->
							<tr> <td colspan='2'></td> <td colspan='2' class='top_border'>Payment on (date)</td> <td class='top_border'></td> <td class='top_border'>- (amount)</td> </tr>
<!-- end -->
							<tr>
								<td colspan='2'></td>
								<td colspan='2' class='top_border'>Quote Total </td>
								<td class='top_border'></td>
								<td class='values top_border'>(amount_total)</td>
							</tr>
						</table>
					</div>

<!-- if notes -->
					<div class='current-activity payment_details'>
						<strong>Additional Comments</strong>
						<p>
							(notes)
						</p>
					</div>
<!-- end -->
					<div class='customer-reminder'>
						<strong>Important</strong>
						<p>
						Please read the attached Terms and Conditions. By accepting the quotation, you agree to these Terms and Conditions.
						</p>
					</div>
				</div>
                        </div>

			<div class="footer">
					<div class='company-numbers'>
<!-- if company_tax_number -->
						<p>
							<strong>Company VAT Number: </strong> (company_tax_number)
						</p>
<!-- end -->
<!-- if company_reg_number -->
						<p>
							<strong>Company Registration Number: </strong> (company_reg_number)
						</p>
<!-- end -->					
                                        </div>

					<div class="company-reg-address">
						<strong>Company Registered Address:</strong><br />
<!-- if company_address2_street -->
						(company_address2_street),
<!-- end -->
<!-- if company_address2_city -->
						(company_address2_city),
<!-- end -->
<!-- if company_address2_state -->
						(company_address2_state),
<!-- end -->
						(company_address2_country)
						(company_address2_zipcode)
					</div>
			</div>

		</div>
		<div class="page" style="page-break-before: always;">
			(terms_of_business)
		</div>
	</body>
</html>
