/*
Web2.0 theme with Amberdms branding
*/

body
{
	color: #36393D;
	background-color: #EEEEEE;
}

h1, h2, h3, h4, h5
{
	color: #36393D;
}

a:link, a:visited
{
	color: #36393D;
	background-color: transparent;
	text-decoration: underline;
}

a:hover
{
	color: #666c73;
	text-decoration: none;
}

a:active {
	color: #666c73;
	text-decoration: none;
	background-color: transparent;
}


/*
	table_content
	Used for all the tables drawn by the table class	
*/

.table_content
{
	border-bottom-style: solid; 
	border-bottom-color: #572B4F;;
}

.table_content .header 
{
	background-color: #572B4F;
	color: #ffffff;
}

.table_content .header_link 
{
	color: #ffffff;
}

.table_content .footer 
{
	background-color: #e5efff;
	color: #000000;
}

.table_content .chart_heading 
{
	background-color: #C3D9FF;
}

.table_content a:hover 
{
	color: #ffffff;
}

.table_content td 
{
	border-bottom-style: solid;
	border-bottom-color: #3F4C6B;
}

.table_content tr:hover 
{
	background-color: #f2e4ef;
}

.table_content .blank 
{
	background-color: #FFFFDF;
}


/*
	table_options_dropdown
*/

.table_options_dropdown 
{
	border-style: solid;
	border-color: #FFF9BC;
	background-color: #fff298;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
}

.table_options_dropdown:hover 
{
	background-color: #fff6ba;
}

.table_options
{
	background-color: #c2d2eb;
	border-style: solid;
	border-color: #E1E9E5;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}




/*
	table_highlight

	Used to give a table a different background colour - typically used to highlight a segment of text, or a 2nd table or form on the same page.
*/
.table_highlight 
{
	background-color: #e8e0ba;
		-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.table_highlight_grouped
{
	background-color: #e8e0ba;
		-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.table_highlight_important 
{
	background-color: #ff9d6b;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.table_highlight_open 
{
	background-color: #9EB894;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.table_highlight_info 
{
	background-color: #bddbf9;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.table_highlight_locked 
{
	background-color: #bddbf9;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.table_highlight_bubble
{
	background-color: #f5e7f3;
}

/*
	table_linkbox

	Used to give a table a different background colour, with another colour for rollover effects. Used for creating linked colour boxes that take users to a page when clicked
*/

.table_linkbox_default 
{
	background-color: #96BBF3;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.table_linkbox_default tr:hover 
{
	background-color: #b4cff6;
}




/*
	Menu Code
	Thanks to http://www.cssmenumaker.com/ for this excellent CSS menu code
*/
#menu 
{
	list-style: none;
}

#menu a 
{
	color: #ffffff;
	text-decoration: none;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

#menu a:hover 
{
	background: #80a4c9;
	color: #ffffff;
}


#navmenu 
{
	list-style: none;
}

#navmenu a 
{
	color: #ffffff;
	text-decoration: none;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

#navmenu a:hover 
{
	background: #50ab76;
	color: #ffffff;
}

/*
	Form Styling
*/
.form_standard input 
{
	border-color: #5C688A;
	border-style: solid;
}

.form_standard textarea 
{
	border-color: #5C688A;
	border-style: solid;
}

.form_error 
{
	background: #ffeda4;	
}

.form_table .header 
{
	
	color: #ffffff;
	
}

.form_table .header td
{
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px #AB9597 outset;
	background-color: #572B4F;
}

.form_table a:hover 
{
	color: #ffffff;
}

/*
	Journal Styling
*/
.journal_header 
{
	background-image: url("../../images/colourstrip-orange.png");
	background-repeat: no-repeat;
}

/*
	Buttons
*/
.submit input:hover, input[type="button"]:hover, input[type="submit"]:hover, .button:hover, .button-secondary:hover
{
	background-color:	#6699CC;
	color:			#ffffff;
}

.submit input, input[type="button"], input[type="submit"], a.button
{
	background-color:	#1374D7;
	text-decoration:	none;
	color:			#ffffff;	
	border-style:		solid;
}


.button_small:hover, .button_small:hover
{
	background-color:	#6699CC;
	color:			#ffffff;
}

a.button_small
{
	background-color:	#1374D7;
	text-decoration:	none;
	color:			#ffffff;	
	border-style:		solid;
}


.button_export:hover, .button_export:hover
{
	background-color:	#6699CC;
	color:			#ffffff;
}

a.button_export
{
	background-color:	#1374D7;
	text-decoration:	none;
	color:			#ffffff;
	border-style:		solid;
}

  
/*main page structure and standard header, footer, and debugging area*/
#header_td_outer
{
	background-color:	#ffbf00;
	border-color: 		#BF9F40; 
	border-style: 		outset;
	
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

#data_td_outer
{
	background-color:	#ffffdf;
	border-color:		#BFBFAF;
	border-style:		outset;
	
		-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

#footer_td_outer
{
	background-color:	#D9D9D9;
	border-style:		solid;
	border-color:		#D9D9D9;
}

#debug_td_outer
{
	background-color:	#ffffff;
	border-style:		solid;
	border-color:		#ffffff;	
}

.menu_table
{
	background-color:	#1374d7;
	border:			1px #497AAB outset;
		-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.menu_current
{
	background-color:	#80a4c9!important;
}

.menu_nav_current
{
	background-color:	#50ab76!important;
}

.menu_nav_table
{
	background-color:	#00903c;
	border:			1px #40885E outset;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.error_table
{
	width:			100%;
}

.error_td
{
	background-color:	#ffeda4;
	border-style: 		solid;
	border-color:		#ffeda4;
}

.notification_td
{
	background-color:	#c7e8ed;
	border-style: 		solid;
	border-color:		#c7e8ed;
}

/*invoice items button*/
.invoice_button_area a:hover
{
	color:		#36393D;
}


/*templates*/
.available_templates_row
{
	background-color:	#e7e7e7;
}

/*customer details*/
.contact_box
{
	border-style: 	dashed;
	border-color:	#AB9597;
	border-width: 	thin;
	
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.error_box
{
	background-color: #ffeda4;
}


/*account statements*/
 .overdue_30
 {
 	background-color: #ff9393;
 }

 .overdue_60
 {
 	background-color: #ff4141;
 }
 
 .overdue_90
 {
 	background-color: #ee0000;
 }

 .last_sent_30
 {
 	background-color: #ff4500;
 }
