/*
Classic theme with Amberdms branding
*/

body
{
	color: black;
	background-color: #cfcfcf;
}

h1, h2, h3, h4, h5
{
	color: gray;
}

a:link, a:visited
{
	color: black;
	background-color: transparent;
	text-decoration: underline;
}

a:hover
{
	color: #ac6500;
	text-decoration: none;
}

a:active {
	color: #FF0000;
	text-decoration: none;
	background-color: transparent;
}


/*
	table_content
	Used for all the tables drawn by the table class	
*/

.table_content
{
	border-bottom-style: solid; 
	border-bottom-color: #996674;
}

.table_content .header 
{
	background-color: #996674;
	color: #ffffff;
}

.table_content .header_link 
{
	color: #ffffff;
}

.table_content .footer 
{
	background-color: #e7e7e7;
	color: #000000;
}

.table_content .chart_heading 
{
	background-color: #e7e7e7;
}

.table_content a:hover 
{
	color: #ffffff;
}

.table_content td 
{
	border-bottom-style: solid;
	border-bottom-color: #7e7e7e;
}

.table_content tr:hover 
{
	background-color: #D6C2C8;
}

.table_content .blank 
{
	background-color: #ffffff;
}


/*
	table_options_dropdown
*/

.table_options_dropdown 
{
	border-style: solid;
	border-color: #e7e7e7;
	background-color: #e7e7e7;
}

.table_options_dropdown:hover 
{
	background-color: #dff5de;
}

.table_options
{
	background-color: #e7e7e7;
	border-style: solid;
	border-color: #666666;
}


/*
	table_highlight

	Used to give a table a different background colour - typically used to highlight a segment of text, or a 2nd table or form on the same page.
*/
.table_highlight 
{
	background-color: #e7e7e7;
}

.table_highlight_grouped
{
	background-color: #e7e7e7;
}

.table_highlight_important 
{
	background-color: #FFBE8A;
}

.table_highlight_open 
{
	background-color: #9EB894;
}

.table_highlight_info 
{
	background-color: #8BC1D5;
}

.table_highlight_locked 
{
	background-color: #95c7d9;
}

.table_highlight_bubble
{
	background-color: #efdde3;
}


/*
	table_linkbox

	Used to give a table a different background colour, with another colour for rollover effects. Used for creating linked colour boxes that take users to a page when clicked
*/

.table_linkbox_default 
{
	background-color: #e7e7e7;
}

.table_linkbox_default tr:hover 
{
	background-color: #CFE5ED;
}




/*
	Menu Code
	Thanks to http://www.cssmenumaker.com/ for this excellent CSS menu code
*/
#menu 
{
	background: #667499;
	list-style: none;
}

#menu a 
{
	background: #667499;
	color: #E6E6E6;
	text-decoration: none;
}

#menu a:hover 
{
	background: #949EB8;
	color: #ffffff;
}


#navmenu 
{
	background: #668d99;
	list-style: none;
}

#navmenu a 
{
	background: #668d99;
	color: #E6E6E6;
	text-decoration: none;
}

#navmenu a:hover 
{
	background: #94B0B8;
	color: #ffffff;
}

/*
	Form Styling
*/
.form_standard input 
{
	border-color: #5C688A;
	border-style: solid;
}

.form_standard textarea 
{
	border-color: #5C688A;
	border-style: solid;
}

.form_error 
{
	background: #ffeda4;	
}

.form_table .header 
{
	background-color: #996674;
	color: #ffffff;
}

.form_table a:hover 
{
	color: #ffffff;
}

/*
	Journal Styling
*/
.journal_header 
{
	background-image: url("../../images/colourstrip-orange.png");
	background-repeat: no-repeat;
}

/*
	Buttons
*/
.submit input:hover, input[type="button"]:hover, input[type="submit"]:hover, .button:hover, .button-secondary:hover
{
	background-color:	#949EB8;
	color:			#ffffff;
}

.submit input, input[type="button"], input[type="submit"], a.button
{
	background-color:	#667499;
	text-decoration:	none;
	color:			#ffffff;	
	border-style:		solid;
}


.button_small:hover, .button_small:hover
{
	background-color:	#949EB8;
	color:			#ffffff;
}

a.button_small
{
	background-color:	#667499;
	text-decoration:	none;
	color:			#ffffff;	
	border-style:		solid;
}


.button_export:hover, .button_export:hover
{
	background-color:	#949EB8;
	color:			#ffffff;
}

a.button_export
{
	background-color:	#667499;
	text-decoration:	none;
	color:			#ffffff;
	border-style:		solid;
}

  
/*main page structure and standard header, footer, and debugging area*/
#header_td_outer
{
	background-color:	#ffdd77;
	border-color: 		#ffdd77; 
	border-style: 		solid;
}

#data_td_outer
{
	background-color:	#ffffff;
	border-color:		#ffffff;
	border-style:		solid;
}

#footer_td_outer
{
	background-color:	#D9D9D9;
	border-style:		solid;
	border-color:		#D9D9D9;
}

#debug_td_outer
{
	background-color:	#ffffff;
	border-style:		solid;
	border-color:		#ffffff;	
}

.menu_table
{
	background-color:	#667499;
}

.menu_current
{
	background-color:	#949EB8!important;
}

.menu_nav_current
{
	background-color:	#94B0B8!important;
}

.menu_nav_table
{
	background-color:	#668d99;
}

.error_table
{
	width:			100%;
}

.error_td
{
	background-color:	#ffeda4;
	border-style: 		solid;
	border-color:		#ffeda4;
}

.notification_td
{
	background-color:	#c7e8ed;
	border-style: 		solid;
	border-color:		#c7e8ed;
}

/*invoice items button*/
.invoice_button_area a:hover
{
	color:		black;
}


/*templates*/
.available_templates_row
{
	background-color:	#e7e7e7;
}

/*customer details*/
.contact_box
{
	border-style: 	dashed;
	border-color:	#c0c0c0;
	border-width: 	thin;
}

.error_box
{
	background-color: #ffeda4;
}

/*account statements*/
 .overdue_30
 {
 	background-color: #eabcbc;
 }

 .overdue_60
 {
 	background-color: #dc8c8c;
 }
 
 .overdue_90
 {
 	background-color: #cd5c5c;
 }

 .last_sent_30
 {
 	background-color: #ff7d4d;
 }
