<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head> 
	    <title>Invoice (code_invoice)</title>
		<link rel="stylesheet" href="(tmp_filename)html_data/style.css" type="text/css" charset="utf-8" />
	</head>
	<body>
		<div class='page'>
			<div class='header'>
				<img src='(company_logo)' alt='(company_name)' title='(company_name)'>
			
			</div>
			
			<div class='content'>

				<div class='main-content'>
					<div class='from-address'>
						<strong>From:</strong>
						<p>
							(company_name) (company_address1_street), (company_address1_zipcode), (company_address1_city)<br />
							(company_address1_country)
							<br />
							<br />
							<strong>Email</strong> (company_contact_email) <br />
							<strong>Phone</strong>  (company_contact_phone) <br />
<!-- if company_contact_fax -->
							<strong>Fax</strong> (company_contact_fax)  <br />
<!-- end -->
						</p>
					
					</div>
					<div class='to-address'>
						<strong>To:</strong>
						<p>
							(customer_contact)<br />
							(customer_name)<br />
							(customer_address1_street)<br />
							(customer_address1_city)<br />
							(customer_address1_state)<br />
							(customer_address1_country)<br />
							(customer_address1_zipcode)<br />
						</p>
						
					</div>
					
					<div class='current-activity invoice_details'>
						<strong>TAX INVOICE</strong>
						<br /><br />
						<table>
<!-- foreach taxes -->
							<tr> <td>(name_tax)</td> <td>(taxnumber)</td> </tr>
<!-- end -->							
<!-- if customer_tax_number -->
							<tr> <th>Customer Tax ID</th> <td>(customer_tax_number)</td> </tr>
<!-- end -->
						</table>
						
						<table>
							<tr> <th>Account ID</th> <td>(code_customer)</td> </tr>
							<tr> <th>Invoice No</th> <td>(code_invoice)</td> </tr>
							<tr> <th>Order No</th> <td>(code_ordernumber)</td> </tr>
							<tr> <th>Date Created</th> <td>(date_trans)</td> </tr>
							<tr> <th>Date Due</th> <td>(date_due)</td> </tr>
						</table>
					</div>
					
					
					<div class='current-activity invoice_items'>
						
						<table>
							<tr> <th>Number</th> <th>Description</th> <th>Quantity</th> <th>Unit</th> <th>Price</th> <th>Amount</th> </tr>
<!-- foreach invoice_pages -->
<!-- foreach invoice_items -->						
							<tr> <td>(info)</td> <td>(description)</td> <td>(quantity)</td> <td>(units)</td> <td>(price)</td> <td>(amount)</td> </tr>
<!-- end invoice_items -->
<!-- end invoice_pages -->


							<tr> <td colspan='2' class='top_border'></td> <td colspan='2' class='top_border'><strong>Subtotal</strong></td> <td class='top_border'></td> <td class='values top_border'>(amount)</td> </tr>
<!-- foreach taxes -->
							<tr> <td colspan='2'></td> <td colspan='2' class='top_border'>(name_tax)</td> <td class='top_border'></td> <td class='top_border'>(amount)</td> </tr>
<!-- end -->

<!-- foreach invoice_payments -->
							<tr> <td colspan='2'></td> <td colspan='2' class='top_border'>Payment on (date)</td> <td class='top_border'></td> <td class='top_border'>- (amount)</td> </tr>							 
<!-- end -->
							<tr>
								<td colspan='2'></td>
								<td colspan='2' class='top_border'>Total Due by (date_due) </td>
								<td class='top_border'></td>
								<td class='values top_border'>(amount_currency) (amount_total)</td>
							</tr>
						</table>
					</div>
					
<!-- if company_payment_details -->					
					<div class='current-activity payment_details'>
						<strong>PAYMENT METHODS</strong>
						<p>
							(company_payment_details)
						</p>
					</div>
<!-- end -->
				</div>
			</div>
			
		</div>
		
	</body>
</html>
