<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head> 
	    <title>Invoice (code_invoice)</title>
		<link rel="stylesheet" href="(tmp_filename)html_data/style.css" type="text/css" charset="utf-8" />
	</head>
	<body>
		<div class='page'>
			<div class='header'>
				<img src='(company_logo)' alt='(company_name)' title='(company_name)'>
			
			</div>
			
			<div class='content'>

				<div class='main-content'>
					<div class='from-address'>
						From <br />
						<p>
<!-- foreach taxes -->
							(name_tax): (taxnumber)<br />
<!-- end -->
	
							(company_name) (company_address1_street), (company_address1_zipcode), (company_address1_city)<br />
							(company_address1_country)
							<br />
							<small>Email:(company_contact_email) Phone:(company_contact_phone) Fax:(company_contact_fax) </small>
						</p>
					
					</div>
					<div class='to-address'>
						(customer_contact)<br />

						(customer_name)<br />
						
						(customer_address1_street)<br />
						
						(customer_address1_city)<br />
						
						(customer_address1_state)<br />
						
						(customer_address1_country)<br />

						(customer_address1_zipcode)<br />

						
					</div>



					<div class='current-activity'>
						<h4>Current Activity</h4>

						<div class='invoice-section'>
							<table>
<!-- foreach summary_items -->
								<tr> <td>(group_name)</td> <td class='values'>(group_amount)</td> </tr>
<!-- end -->
							</table>
						</div>
						
						<div class='invoice-section total'>
							<table>
								<tr>
									<td>Total</td>
									<td></td>
									<td class='values'>(amount)</td>
								</tr>
<!-- foreach taxes -->
								<tr> <td>(name_tax)</td> <td></td> <td>(amount)</td> </tr>
<!-- end -->
<!-- foreach invoice_payments -->
								<tr> <td>Payment on (date)</td> <td></td> <td>- (amount)</td> </tr>							 
<!-- end -->
								<tr>
									<td><strong>Total Due by (date_due)</strong></td>
									<td></td>
									<td class='values'><strong>(amount_currency) (amount_total)</strong></td>
								</tr>
							</table>
						</div>


					</div>


					
					<div class='total-amount-due'>
						<h4>Total Amount Due</h4>
						<div class='total-due-value'>(amount_currency) (amount_total)</div>
					</div>
					
<!-- foreach invoice_pages -->
					<div class='current-activity invoice_items'>
						<table>
							<tr> <td>Number</td> <td>Description</td> <td>Quantity</td> <td>Unit</td> <td>Price</td> <td>Amount</td> </tr>
<!-- foreach invoice_items -->							
							<tr> <td>(info)</td> <td>(description)</td> <td>(quantity)</td> <td>(units)</td> <td>(price)</td> <td>(amount)</td> </tr>
<!-- end invoice_items -->


<tr>
									<td>Subtotal</td>
									<td></td>
									<td class='values'>(amount)</td>
								</tr>
<!-- foreach taxes -->
								<tr> <td>(name_tax)</td> <td></td> <td>(amount)</td> </tr>
<!-- end -->
<!-- foreach invoice_payments -->
								<tr> <td>Payment on (date)</td> <td></td> <td>- (amount)</td> </tr>							 
<!-- end -->
								<tr>
									<td><strong>Total Due by (date_due)</strong></td>
									<td></td>
									<td class='values'><strong>(amount_currency) (amount_total)</strong></td>
								</tr>
						</table>
					</div>
<!-- end invoice_pages -->	
					
					
				</div>
			</div>
			
		</div>
		
	</body>
</html>
