body
{
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color: black;
	background-color: #cfcfcf;
	margin: 0px;
	padding: 0px;
	border: none;
}

h1, h2, h3, h4, h5
{
	font-family: sans-serif;
	color: gray;
	display: inline;
}

h2
{
	font-size: 18px;
}

h3
{
	font-size: 14px;
}


table, p {
	font-size: 12px;
}


a:link, a:visited {
	color: black;
	background-color: transparent;
	text-decoration: underline;
	border: none;
}

a:hover {
	color: #ac6500;
	text-decoration: none;
	padding: 0px;
}

a:active {
	color: #FF0000;
	text-decoration: none;
	background-color: transparent;
}


/*
	Table Styling
*/
.table_content {
	border-bottom: 1px solid #2580a2;
	border-spacing: 0px;
}

	.table_content .header {
		background-color: #2580a2;
		color: #ffffff;
		padding: 8px;
	}

	.table_content a:hover {
		color: #ffffff;
	}

	.table_content td {
		padding: 4px;
		border-bottom: 1px solid #7e7e7e;
	}

	.table_content tr:hover {
		background-color: #2580a2;
	}


/*
	Menu Code
	Thanks to http://www.cssmenumaker.com/ for this excellent CSS menu code
*/
#menu {
	background: #333333;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#menu li {
	float: left;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0;
	padding: 0;
}

#menu a {
	background: #333333;
	color: #cccccc;
	display: block;
	float: left;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
}

#menu a:hover {
	background: #2580a2;
	color: #ffffff;
	padding-bottom: 8px;
}


/*
	Form Styling
*/

.form_standard {
}

	.form_standard input {
		border: 1px #333333 solid;
	}

	.form_standard textarea {
		border: 1px #333333 solid;
		width: 600px;
		height: 60px;
	}


.form_error {
	background: #ffeda4;	
}

.form_table {
	border-spacing: 0px;
}

	.form_table .header {
		background-color: #2580a2;
		color: #ffffff;
		padding: 8px;
	}

	.form_table a:hover {
		color: #ffffff;
	}

	.form_table td {
		padding: 4px;
	}




