/*
Default theme with Amberdms branding
*/

body
{
	color: black;
	background-color: #cfcfcf;
}

h1, h2, h3, h4, h5
{
	color: gray;
}

a:link, a:visited
{
	color: black;
	background-color: transparent;
	text-decoration: underline;
}

a:hover 
{
	color: #ac6500;
	text-decoration: none;
}

a:active {
	color: #FF0000;
	text-decoration: none;
	background-color: transparent;
}


/*
	table_content
	Used for all the tables drawn by the table class	
*/

.table_content 
{
	border-bottom-style: solid; 
	border-bottom-color: #2580a2;
}

.table_content .header 
{
	background-color: #2580a2;
	color: #ffffff;
}

.table_content .header_link 
{
	color: #ffffff;
}

.table_content .footer 
{
	background-color: #e7e7e7;
	color: #000000;
}

.table_content .chart_heading 
{
	background-color: #e7e7e7;
}

.table_content a:hover 
{
	color: #ffffff;
}

.table_content td 
{
	border-bottom-style: solid;
	border-bottom-color: #7e7e7e;
}

.table_content tr:hover 
{
	background-color: #2580a2;
}

.table_content .blank 
{
	background-color: #ffffff;
}


/*
	table_options_dropdown
*/

.table_options_dropdown 
{
	border-style: solid;
	border-color: #ffffff;
	background-color: #fff298;
	color: #000000
}

.table_options_dropdown:hover 
{
	background-color: #92dd90;
}

.table_options
{
	background-color: #e7e7e7;
	border-style: solid;
	border-color: #666666;
}


/*
	table_highlight

	Used to give a table a different background colour - typically used to highlight a segment of text, or a 2nd table or form on the same page.
*/
.table_highlight 
{
	background-color: #e7e7e7;
}

.table_highlight_important 
{
	background-color: #ff933c;
}

.table_highlight_open 
{
	background-color: #92dd90;
}

.table_highlight_info 
{
	background-color: #95c7d9;
}

.table_highlight_locked 
{
	background-color: #95c7d9;
}


/*
	table_linkbox

	Used to give a table a different background colour, with another colour for rollover effects. Used for creating linked colour boxes that take users to a page when clicked
*/

.table_linkbox_default 
{
	background-color: #e7e7e7;
}

.table_linkbox_default tr:hover 
{
	background-color: #95c7d9;
}




/*
	Menu Code
	Thanks to http://www.cssmenumaker.com/ for this excellent CSS menu code
*/
#menu 
{
	background: #333333;
	list-style: none;
}

#menu a 
{
	background: #333333;
	color: #cccccc;
	text-decoration: none;
}

#menu a:hover 
{
	background: #2580a2;
	color: #ffffff;
}


#navmenu 
{
	background: #057b08;
	list-style: none;
}

#navmenu a 
{
	background: #057b08;
	color: #cccccc;
	text-decoration: none;
}

#navmenu a:hover 
{
	background: #2580a2;
	color: #ffffff;
}

/*
	Form Styling
*/
.form_standard input 
{
	border-color: #128300;
	border-style: solid;
}

.form_standard textarea 
{
	border-color: #128300;
	border-style: solid;
}



.form_error 
{
	background: #ffeda4;	
}

.form_table .header 
{
	background-color: #2580a2;
	color: #ffffff;
}

.form_table a:hover 
{
	color: #ffffff;
}

/*
	Journal Styling
*/
.journal_header 
{
	background-image: url("../../images/colourstrip-orange.png");
	background-repeat: no-repeat;
}

/*
	Buttons
*/
.submit input:hover, input[type="button"]:hover, input[type="submit"]:hover, .button:hover, .button-secondary:hover
{
	background-color:	#74d465;
	color:			#000000;
}

.submit input, input[type="button"], input[type="submit"], a.button
{
	background-color:	#128300;
	text-decoration:	none;
	color:			#ffffff;
	border-style:		solid;
}


.button_small:hover, .button_small:hover
{
	background-color:	#9ac8e5;
	color:			#000000;
}

a.button_small
{
	background-color:	#2580a2;
	text-decoration:	none;
	color:			#ffffff;
	border-style:		solid;
}


.button_export:hover, .button_export:hover
{
	background-color:	#7e7e7e;
	color:			#ffffff;
}

a.button_export
{
	background-color:	#333333;
	text-decoration:	none;
	color:			#ffffff;
	border-style:		solid;
}

  
/*main page structure and standard header, footer, and debugging area*/
#header_td_outer
{
	background-color:	#ffbf00;
	border-color: 		#747474; 
	border-style: 		dashed;
}

#data_td_outer
{
	background-color:	#ffffff;
	border-color:		#000000;
	border-style:		dashed;
}

#footer_td_outer
{
	background-color:	#ffbf00;
	border-style:		dashed;
	border-color:		#747474;
}

#debug_td_outer
{
	background-color:	#ffffff;
	border-style:		dashed;
	border-color:		#000000;
}

.menu_table
{
	background-color:	#333333;
}

.menu_current
{
	background-color:	#7e7e7e!important;
}

.menu_nav_current
{
	background-color:	#60ae62!important;
}

.menu_nav_table
{
	background-color:	#057b08;
}

.error_table
{
	width:			100%;
}

.error_td
{
	background-color:	#ffeda4;
	border-style: 		dashed;
	border-color:		#dc6d00;
}

.notification_td
{
	background-color:	#c7e8ed;
	border-style: 		dashed;
	border-color:		#374893;
}

/*invoice item buttons*/
.invoice_button_area a:hover
{
	color:		black;
}

/*templates*/
.available_templates_row
{
	background-color:	#e7e7e7;
}

